header {
  background-color: #ef3b39;
  height: 80px;
  text-align: center;
}

.logo{
  height: 86px;
  width: 153px;
}

.placeholder{
  min-height: 400px;
}

#nav li.active{
  font-weight: bold;
  border-right: 2px solid #ef3b39;
}

#nav li{
  margin: 20px 0px 20px 0px;
}

.th-nav a{
  color: #333;
}

.th-title{
  text-align: center;
  color: #666
  font-style: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.th-title em{
  color:#ef3b39;
  font-style: bold;
}

#th-carousel {
  height: 400px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 2px solid #666666;
  position: absolute;
  overflow: hidden;
}
