#th-header{
  background-color: #ef3b39;
  height: 80px;
  width: 100%;
  position: absolute;
}

#th-web{
  height: 800px;
  width: 100%;
  position: absolute;
  margin-top: 20px;
}

.th-foreground-container{
  position: relative;
  z-index: 10;
}

img.logo{
  display: block;
  height: 86px;
  width: 153px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.placeholder{
  min-height: 800px;
}

#nav li.active{
  font-weight: bold;
  border-right: 2px solid #ef3b39;
}

#nav li{
  margin: 20px 0px 20px 0px;
}

.th-nav a{
  color: #333;
}

.th-title{
  text-align: left;
  color: #ABAAA7;
  font-style: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36pt;
}

em{
  color:#ef3b39;
  font-style: normal;
}

#th-carousel {
  height: 400px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 4px solid #666666;
  overflow: hidden;
}

.carousel-inner > .item > img{
  margin: 0 auto;
}

.section-header{
  font-size: 36pt;
  color: #ABAAA7;
}

#web-header{
  margin-top: 10px;
  font-size: 36pt;
  color: #fff;
}

.th-thumbnail{
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 6px solid #52B3F7;
  border-radius: 0px;
  overflow: hidden;
}

.more{
  display: block;
  position: absolute;
  color: #666;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 15px;
	text-transform: uppercase;
  z-index: 100;
  background: #666;
  opacity: 0;
  height: 100%;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.more p{
  margin-top: 30%;
  text-align: center;
}

a.th-thumbnail.more:hover{
  display: block;
  opacity: 0.1;
}
